<style>
    ul{
        list-style: none;
        background-color: salmon;
        display: flex;
        text-align: center;
    }
    ul li {
        padding: 10px;
    }

    ul li:hover{
        background-color: darkseagreen;
    }
    ul li a {
        text-decoration: none;
        color: rgb(255, 255, 255);

    }
    ul li a:hover{
        color: rgb(46, 40, 40);
    }
</style>

<div>
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#user/add">Add Product </a></li>
        <li><a href="#user/edit">Update Product</a></li>
    </ul>
</div>